use flake

export AA_RPC_HTTP_URL="https://lb.drpc.live/"
export AA_RPC_WS_URL="wss://lb.drpc.live/"
export AA_CONFIG_FILE="aa.toml"
export AA_METADATA_CACHE_PATH="metadata-cache.redb"
export AA_TOKEN_WHITELIST_FILE="token-whitelist.toml"
